.card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 250px;

}

.card-content {
    padding: 15px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #777;
    padding: 15px;
}